{% extends "base.html" %} {% block title %}About Us{% endblock %} {% block
content %}
<div class="about-page container">
    <div class="about-header">
        <h1>About Us</h1>
    </div>
    <div class="about-content">
        <h2>What are we?</h2>
        <p>
            The CGS IBDP Gazette is a student-led digital magazine created by
            and for the IB community at Costeas-Geitonas School. It aims to give
            voice to students’ ideas, experiences, and creativity. Offering
            monthly insights into school life, global issues, and the remarkable
            projects, research, and achievements of CGS students.
        </p>
        <h2>Mission Statement</h2>
        <p>
            Our mission is to empower CGS IB students to express themselves,
            exchange perspectives, and celebrate learning through journalism,
            creativity, and collaboration. The CGS IBDP Gazette strives to
            foster open-mindedness, curiosity, and community by reflecting the
            IB values that shape us as thoughtful, globally aware learners.
        </p>
        <h2>Contact Us</h2>
        <p>
            For any inquiries, please email us at
            <a href="mailto:placeholder@example.com">placeholder@example.com</a
            >.
        </p>
        <p>
            You can find our instagram at
            <a
                href="https://www.instagram.com/cgs_ibdp_gazette?igsh=MTdoczAxbHY0NnIxdA=="
                >@cgs_ibdp_gazette</a
            >
        </p>
    </div>
</div>
{% endblock %}
