{% extends "base.html" %} {% block title %}About Us{% endblock %} {% block
content %}
<div class="container">
    <h1>About Us</h1>
    <h2>What are we?</h2>
    <p>
        The CGS IB Gazette is a student-led digital magazine created by and for
        the IB community at Costeas-Geitonas School. It aims to give voice to
        students’ ideas, experiences, and creativity. Offering monthly insights
        into school life, global issues, and the remarkable projects, research,
        and achievements of CGS students.
    </p>
    <h2>Mission Statement</h2>
    <p>
        Our mission is to empower CGS IB students to express themselves,
        exchange perspectives, and celebrate learning through journalism,
        creativity, and collaboration. The CGS IB Gazette strives to foster
        open-mindedness, curiosity, and community by reflecting the IB values
        that shape us as thoughtful, globally aware learners.
    </p>
    <h1>Contact Us</h1>
    <p>
        For any inquiries, please email us at
        <a href="">{placeholder email}</a>.
    </p>
</div>
{% endblock %}
